In [10]:
movie_rank=["닥터 스트레인지","스플릿","럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [11]:
movie_rank.append("배트맨")

In [12]:
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [13]:
movie_rank[3]

'배트맨'

In [14]:
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [15]:
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [16]:
del movie_rank[2:4]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [17]:
lang1=["C","C++","JAVA"]
lang2=["Python","Go","C#"]
langs=lang1+lang2

In [18]:
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [22]:
nums=[1,2,3,4,5,6,7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [23]:
nums=[1,2,3,4,5]
sum(nums)

15

In [24]:
cook=["피자","김밥","만두","양념치킨","족발","피자","김치만두","쫄면","소시지","라면","팥빙수","김치전"]
len(cook)

12

In [26]:
sum(nums)/len(nums)

3.0

In [27]:
price=["20180728",100,130,140,150,160,170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [28]:
nums=[1,2,3,4,5,6,7,8,9,10]
nums[::2]

[1, 3, 5, 7, 9]

In [29]:
nums[1::2]

[2, 4, 6, 8, 10]

In [30]:
nums[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [34]:
interest=["삼성전자","LG전자","Naver"]
print(interest[0],interest[2])

삼성전자 Naver

In [38]:
interest=["삼성전자","LG전자","Naver","SK하이닉스","미래에셋대우"]
print(interest)

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [39]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [40]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [41]:
string="삼성전자/LG전자/Naver"
interest=string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [43]:
data=[2,4,3,1,5,10,9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [44]:
data2=sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]

In [45]:
my_variable=()

In [46]:
print(type(my_variable))

<class 'tuple'>

In [47]:
movie_rank=("닥터 스트레인지","스플릿","럭키")
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [50]:
a=(1,)
type(a)

tuple

In [51]:
t=(1,2,3)
t[0]

1

In [52]:
t=1,2,3,4

In [53]:
type(t)

tuple

In [54]:
t="a","b","c"

In [55]:
type(t)

tuple

In [56]:
interest=('삼성전자','LG전자','SK Hynix')
data=list(interest)
print(data)

['삼성전자', 'LG전자', 'SK Hynix']

In [57]:
print(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [58]:
data1=tuple(data)
print(data1)

('삼성전자', 'LG전자', 'SK Hynix')

In [59]:
temp=('apple','banana','cake')
a,b,c=temp
print(a,b,c)

apple banana cake

In [60]:
print(a)

apple

In [62]:
print(b)

banana

In [63]:
data=tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [64]:
a,b,*c=(0,1,2,3,4,5)
a

0

In [65]:
b

1

In [66]:
c

[2, 3, 4, 5]

In [67]:
scores=[8.8,8.9,8.7,9.2,9.3,9.7,9.9,9.5,7.8,9.4]
*valid_score,b,c=scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [68]:
temp={}

In [69]:
temp={"메로나": 1000 , "폴라포":1200,"빵빠레":1800}
print(temp)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [70]:
temp["죠스바"]=1200
temp["월드콘"]=1500
print(temp)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [71]:
temp

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [74]:
print("메로나 가격:",temp["메로나"])

메로나 가격: 1000

In [75]:
temp["메로나"]=1300
print(temp)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [76]:
del temp["메로나"]
print(temp)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [77]:
inventory={"메로나":[300,20],"비비빅":[400,3],"죠스바":[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [80]:
print(inventory["메로나"][0],"원")

300 원

In [82]:
inventory["월드콘"]=[500,7]

In [83]:
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [84]:
icecream={'탱크보이':1200,'폴라포':1200,"빵빠레":1800,"월드콘":1500,"메로나":1000}

In [87]:
a=list(icecream.keys())
print(a)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [88]:
b=list(icecream.values())
print(b)

[1200, 1200, 1800, 1500, 1000]

In [89]:
sum(b)

6700

In [90]:
new_product={'팥빙수':2700,"아맛나":1000}
icecream.update(new_product)

In [91]:
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [92]:
keys=("apple","pear","peach")
vals=(300,250,400)
result=dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [93]:
data=["09/05","09/06","09/07","09/08","09/09"]
close_price=[10500,10300,10100,10800,11000]
close_table=dict(zip(data,close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}